:root {
    --main-text-black: #434455;
    --secondary-text-color: #2e2f42;
    --blue-main-color: #4d5ae5;
    --accent-color: #404bbf;
    --main-white-color: #f4f4fd;
    --grey-color-icon: #8e8f99;
    --secondary-white-color: #ffffff;
}


/********************************Default styles*********************************/
*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    color: var(--main-text-black);
    background-color: var(--secondary-white-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

img {
    display: block;
    width: 100%;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

input,
textarea,
button {
    font: inherit;
}

button {
    cursor: pointer;
    color: currentColor;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}



/**************************HEADER ************************/

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-items {
    display: flex;
    align-items: center;
}

.navigation-general {
    display: flex;
    align-items: center;

}

.logo-first-word-header {
    color: var(--blue-main-color);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-second-word-header {
    color: var(--secondary-text-color);
}

.navigation-list {
    display: flex;
    gap: 40px;

}

.navigation-menu {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.navigation-menu:hover,
.navigation-menu:focus {
    color: #404bbf;
}

.navigation-menu:active {
    color: var(--accent-color);
}

.navigation-menu::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;

}

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts-list {
    font-style: normal;
    display: flex;
    gap: 40px;
}

.contact-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-black);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info:hover,
.contact-info:focus {
    color: #404bbf;
}

.contact-info:active {
    color: var(--accent-color);
}

/***************************************Section BENEFITS **********************************/
.section-benefits {
    background-color: var(--secondary-text-color);
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url("/images/hero-background.jpg");
    max-width: 1440px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;

}

.container-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    max-width: 496px;
}

.main-cta {
    color: #ffffff;
    background: var(--blue-main-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: var(--blue-main-color);
    border-radius: 4px;
    margin-top: 48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-cta:hover,
.main-cta:focus {
    background-color: #404bbf;
}

.main-cta:active {
    background: var(--accent-color);
}

/********************************* Section OUR VALUES************************************/

.our-values {
    padding: 120px 0;
}

.values-list {
    display: flex;
    gap: 24px;
}

.value-item {
    width: calc((100% - 72px)/4)
}

.value-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;

}

/*.icon-value {
    width: 64px;
    height: 64px;
}*/

.category-title {
    color: var(--secondary-text-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;

}

/**************************** Section WHAT ARE WE DOING **********************************/
.what-we-are-doing {
    padding-bottom: 120px;
}

.page-title {
    color: var(--secondary-text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.what-we-are-doing-list {
    display: flex;
    gap: 24px;

}

.what-we-are-doing-item {
    width: calc((100% - 3 * 16px) / 3)
}

/******************** Section OUR TEAM ************************/

.section-our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.our-team-list {
    display: flex;
    gap: 24px;
}

.member-team {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.member-name {
    padding: 32px 0;

}

.member-name-surname {
    text-align: center;
}

.member-title {
    text-align: center;

}

.social-networks {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.social-network-team {
    width: 40px;
    height: 40px;
    background-color: var(--blue-main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-network-name {
    width: 100%;
    height: 100%;
    background-color: var(--blue-main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-network-name:hover,
.social-network-name:focus {
    background-color: #404bbf;
}

.social-network-icon {
    fill: var(--main-white-color);
}

/**************************** Section Customers *************************/

.customers {
    padding-bottom: 120px;
    padding-top: 120px;
}

.customer-list {
    display: flex;
    gap: 24px;
}

.customer-link {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--grey-color-icon);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover {
    border-color: #404bbf;
    color: #404bbf;
    fill: #404bbf;
}

.customer-link:focus {
    border-color: #404bbf;
    color: #404bbf;
    fill: #404bbf;
}

.customer-logo {
    fill: currentColor;
}

.customer-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer-list-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

/*****************FOOTER***********************/

.footer {
    background-color: var(--secondary-text-color);
    padding: 100px 0;

}

.footer-container {
    display: flex;
    align-items: baseline;
}

.logo-paragraph-container {
    width: 264px;
    margin-right: 120px;
}

.logo-first-word-footer {
    color: var(--blue-main-color);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-second-word-footer {
    color: #f4f4fd;
}

.text-footer {
    max-width: 264px;
    color: var(--main-white-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.footer-social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-white-color);
    margin-bottom: 16px;
}

.footer-social-media-list {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;

}

.footer-social-media-item {
    width: 40px;
    height: 40px;
}

.footer-social-media-link {
    width: 100%;
    height: 100%;
    background-color: var(--blue-main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-link:hover,
.footer-social-media-link:focus {
    background-color: #31d0aa;

}

.footer-social-media-logo {
    fill: var(--main-white-color);
}

.footer>.main-text {
    color: var(--main-white-color);
    letter-spacing: 0.02em;
    line-height: 1.5;

}

/*************************************PORTFOLIO************************************/
.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filters-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.filter-button {
    border: 1px solid #E7E9FC;
    background-color: var(--main-white-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--blue-main-color);
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
    color: #FFFFFF;
    background-color: #404bbf;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button:active {
    background: var(--accent-color);
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;
    margin: 0;

}

.service-item {
    width: calc((100% - 48px) / 3);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-list-item-link {
    cursor: pointer;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.service-list-item-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.service-list-item-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.service-list-item-link:focus .service-overlay-text {
    transform: translateY(0%);
}

.service-list-item-link:hover .service-overlay-text {
    transform: translateY(0%);
}

.service-list-overlay {

    position: relative;
    overflow: hidden;
}

.service-overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: var(--blue-main-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--main-white-color);
}

.app-container {
    border: 1px solid var(--color-cornflower);
    border-top: none;
    padding: 32px 16px;

}

.service-item-title {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.service-item-text {
    color: var(--main-text-black);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



/*************************************** Modal Window **********************************/
.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-window-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-window-button:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-window-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}


.modal-window-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-button:hover .modal-window-close-icon {
    fill: #ffffff;
}

.modal-window-button:focus .modal-window-close-icon {
    fill: #ffffff;
}